################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IMDBUtils_VS/.vs/IMDBUtils/v14/.suo
/IMDBUtils_VS/IMDBUtils/bin
/IMDBUtils_VS/IMDBUtils/obj
/IMDBUtils_VS/.vs/IMDBUtils/v16
/hometax.go.kr/.vs/hometax.go.kr/v16/.suo
